@import "tailwindcss";

body{
  /* background: #0A0F14; */
  background: black;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* .hero{
  background-image: url(../a\ black\ and\ white\ ab.png);
} */


