@import "tailwindcss";

body{
  /* background: #0A0F14; */
  background: black;
  scroll-behavior: smooth;
}

/* .hero{
  background-image: url(../a\ black\ and\ white\ ab.png);
} */

.p1{
  background-image: url(../p1.png);
  align-items: center;
}

